<ul>
  @for (item of items; track item.id) {
  <li>
    <div class="item_top">
      <div class="item_country">
        @if (item.country === 'spain') {
        <img src="/flag-es.svg" />
        } @else if (item.country === 'japan') {
        <img src="/flag-jp.svg" />
        }
      </div>
      <p class="item_category">Category: {{ item.category }}</p>
    </div>
    <div
      class="item_img"
      [style.backgroundImage]="'url(' + item.img + ')'"
    ></div>
    <h4 class="item_name">
      {{ item.name }}
    </h4>
    <div class="item_bottom">
      <p class="item_price">{{ item.price }}€</p>
      <a href="{{ item.itemUrl }}" class="item_btn">BUY</a>
    </div>
  </li>
  }
</ul>
